* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  box-sizing: border-box;
}

h1 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
  color: #fff;
  padding: 1rem;
}

h2 {
  /* text-align: center; */
  color: black;
  position: relative;
  top: 200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* .placeHolder {
  padding: 0;
  margin: 0;
  background: aquamarine;
  height: 200px;
  width: 100%;
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgb(58, 37, 179);
  margin-top: 0;
  border-bottom: 1rem solid rgb(36, 35, 102);
  z-index: 5;
}

nav ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ol li {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 15px 50px;
  margin: 20px 10px;
  border-radius: 10px;
  background: rgb(178, 168, 233);
  font-weight: 900;
}

nav ol li:hover {
  background: #fff;
  font-size: 1.5rem;
  padding: 15px 50px;
  margin: 20px 10px;
}

a:hover {
  color: coral;
}

/* this is the salmon cookie part styling */

ul {
  float: left;
  font-size: 24px;
  position: relative;
  top: 200px;
  left: 200px;
  display: block;
  margin: 100px 50px 200px 50px;
}

ul li {
  list-style: none;
  padding: 16px;
  border: 1px solid black;
}

ul li:nth-child(odd) {
  background-color: rgb(243, 199, 183);
}

ul li:nth-child(even) {
  background-color: #ecd9d2;
}

tr {
  border: 1px solid black;
}
